.Navbar {
  width: 100%;
  height: calc(100vw * 0.0588);
  content: '';
  background: url('~Images/navbar.jpg') no-repeat top center;
  background-size: contain;
}
.Main {
  width: 100%;
  min-height: calc(100vh - (100vw * 0.0588) - (100vw * 0.0916));
  background: #e7e9f3;
}
.Footer {
  width: 100%;
  height: calc(100vw * 0.0916);
  content: '';
  background: url('~Images/footer.jpg') no-repeat top center;
  background-size: contain;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 480px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1140px;
  }
}
